a, a:hover, a:visited {
    color: white;
    text-decoration:none;
}

li {
    font-size:24; 
    width:110px;
    background-color: #292929;
}
li:hover > a{
    color: yellow;
}
nav ul li {
    display: inline-block;
    position: relative:
   
}

nav ul li ul li {
    display:none;
}
 
nav ul li:hover > ul > li {
    display:block;
    margin-left: -40px;
   
}

nav ul li ul {
    position: absolute;
}

