nav a, nav a:hover, nav a:visited {
    color: white;
    text-decoration: none;
}

nav ul {
    padding-left: 0;
}

nav li {
    font-size: 24; 
    width: 110px;
    height: 30px;
    background-color: #292929;
}

nav li:hover {
    cursor: pointer;
}

nav li:hover > a {
    color: yellow;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li ul li {
    display: none;
}
 
nav ul li:hover > ul > li {
    display: block;
    top: 100%;
}

nav ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
}

nav ul li ul li ul {
    position: absolute;
    top: 0;
    left: 100%;
}
    
